*{ 
	margin: 0;
box-sizing: border-box;
}
html{
	scroll-behavior: smooth;/*desplazamiento*/
}
body{ 
	font-family: sans-serif;
}
.logo{/*tamaño de la imagen*/
    width: 90px;
    height: 50px;
}
.parrafo{
    width: 85%;
    margin: auto;
}
.contenedor{/*Todos los div*/
    width: 100%;
    margin: auto;
    /* top: 60px; */
}
.header{/*Cabecera */
    background-color: rgb(0, 0, 0);
    border-bottom: 1px solid rgb(255, 0, 0) ;
    position: relative;
    width: 100%;
    position: -webkit-sticky;
    position: sticky;
    top: 0px;
}
.header .contenedor{/*div del header*/
    display: flex;
    justify-content: space-between;
    /* justify-content: space-evenly; */
}
.logo,.icon-menu{/*logo y botoncito del menu*/
    margin: 5px;
    color: #fff;
}
.icon-menu{/*Botoncito*/
    display: block;
    width: 40px;
    font-size: 30px;
    text-align: center;
    line-height: 45px;
    border-radius: 5px;
    cursor: pointer;
}
.nav{ 
    position: absolute;
    top: 60px;
    left: -100%;
    transition: all 0.5s;
    width: 100%;
    z-index: 100;
}
.menu{/*ul*/
    list-style: none;
    padding: 0;margin: 0;  
    text-align: center;
}
.menu__link{/*links <a>*/
     cursor: pointer; display: block;
    padding: 15px;
    background-color: rgb(0, 0, 0);
    color: #fff ;
    height: 60px;
    /* border-bottom: 1px solid skyblue ; */ /*Bordes*/
    font-size: 20px;
	  text-decoration: none;
}
.menu__link:hover{/*efecto hover de los links*/
    background:#037e8c  ;
    color: #fff;
}
.muestrate{/*Clase que se activa al clickear*/
    left: 0;
}
/**/
section{
    text-align: center;
    line-height: 25px;
    margin: 0px 20px 0px 20px;
    border-bottom: 10px solid #000;
    height: 100vh;
}
.parrafo__columna h1{
    font-size: 40px;
    padding: 20px;
}

.parrafo__columna p{
   text-align: justify
}
/*Cambio de tamaño de pantalla*/
@media(min-width:1024px){
   .contenedor{
        width: 1000px;
    }
    .nav {
    position: static;
    width: auto;
  }
  .menu {
    display: flex;
  }
  .icon-menu {
    display: none;
  }
	.menu__link{
		border: none;
	}
}

@media(min-width:1200px){
   .contenedor{
        width: 1200px;
	}
}